/alphabeticalcitys.class
/areaOfRegularPolygon.class
/binaryToDecimal.class
/characterOfInput.class
/decimaltobinary.class
/floatingpoint.class
/indexOf.class
/lotteryV2.class
/order3cities.class
/phoneKeypad.class
/stringInput.class
/stringpractice.class
