/AdditionQuizAdvanced.class
/AdvancedSubtractionQuiz.class
/BinaryToDecimal.class
/CheckingPalindrome.class
/DecimalToBinary.class
/Display4Patterns.class
/DisplayLeapYears.class
/DrawAPyramid.class
/DrawSomething.class
/ForLoopPracice.class
/GuessingNumber.class
/MathTutor.class
/MultiplicationTable.class
/Practice.class
/PrimeNumbers.class
/ReverseAString.class
/TuitionIncrease.class
/doWhileLoopPractice.class
/factorial.class
/gcd.class
