/CoinFlip.class
/Crap.class
/Kalendar.class
/LetterGrade.class
/MathTutor.class
/ModularizedGCD.class
/MonthApart.class
/PalinDrome.class
/PrimeNumbers.class
/PrintMultiples.class
/SecurePassword.class
/SwapVariables.class
/TestMax.class
/ToInfinity.class
